/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --accent-color: #00cc14;
  --background-color: #000000;
  --content-font-weight: 400;
  --header-font-weight: 700;
  --background-grid-color: #000;
  --background-gradient-top-color: #007f0c;
  --background-gradient-bottom-color: #004306;
  --heart-contour-color: #00cc14;
  --button-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00cc14;
    --background-color: #000000;
    --content-font-weight: 400;
    --header-font-weight: 700;
    --background-grid-color: #000;
    --background-gradient-top-color: #007f0c;
    --background-gradient-bottom-color: #004306;
    --heart-contour-color: #00cc14;
    --button-color: #00cc14;
  }
}

:root.theme-light {
  --accent-color: #000000;
  --background-color: #ffffff;
  --content-font-weight: 465;
  --header-font-weight: 785;
  --background-grid-color: #d3d3d3;
  --background-gradient-top-color: #e7e7e7;
  --background-gradient-bottom-color: #1a1a1a;
  --heart-contour-color: #000000;
  --button-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #000000;
    --background-color: #ffffff;
    --content-font-weight: 465;
    --header-font-weight: 785;
    --background-grid-color: #d3d3d3;
    --background-gradient-top-color: #e7e7e7;
    --background-gradient-bottom-color: #1a1a1a;
    --heart-contour-color: #000000;
    --button-color: #ffffff;
  }
}
