:root {
  --main-font: Inter-Variable;
  --accent-font: Press-Start2P;
  --content-font-weight: 400;
  --header-font-weight: 700;
  --accent-color: #000000;
  --background-color: #ffffff;
  --background-grid-color: #d3d3d3;
  --background-gradient-top-color: #e7e7e7;
  --background-gradient-bottom-color: #1a1a1a;
  --heart-contour-color: #000000;
  --heart-sparkles-color: #ff0000;
  --accent-font-weight: 400;
}
